In [3]:
import numpy as np
import pandas as pd

In [22]:
df1 = pd.read_csv('data/2 -India_GDP_Growth_Rate_Historical_Data.csv')
df2 = pd.read_csv('data/9 - India_Inflation_Rate_Historical_Data.csv')

df1.drop('Unnamed: 0', axis = 1, inplace=True)
df2.drop('Unnamed: 0', axis = 1, inplace=True)

In [23]:
df1.head()

   year GDP_growth Annual_Change
0  2022      7.24%        -1.81%
1  2021      9.05%        14.88%
2  2020     -5.83%        -9.70%
3  2019      3.87%        -2.58%
4  2018      6.45%        -0.34%

In [20]:
df2.head()

   Unnamed: 0  year Inflation_Rate Annual_percent_geowth
0           0  2022          6.70%                 1.57%
1           1  2021          5.13%                -1.49%
2           2  2020          6.62%                 2.89%
3           3  2019          3.73%                -0.21%
4           4  2018          3.94%                 0.61%